@use '../../../styles/workbenchHeader' as workbenchHeader;

@include workbenchHeader.layout;

.metaActive {
  color: var(--viz-success);
}

.metaMuted {
  color: var(--text-tertiary);
}

.metaProblem {
  color: var(--viz-failure);
}
