@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .page {
    gap: 8px;
  }
}
